Repository PerformanceEstimation/PEPit, pull requests merged in 2022-09, with the labels that each got.

#59 Features/examples lowdimension
  PEPit/examples/low_dimensional_worst_cases_scenarios/frank_wolfe.py
  PEPit/examples/low_dimensional_worst_cases_scenarios/halpern_iteration.py
  PEPit/examples/low_dimensional_worst_cases_scenarios/inexact_gradient.py
  PEPit/examples/low_dimensional_worst_cases_scenarios/optimized_gradient.py
  PEPit/examples/low_dimensional_worst_cases_scenarios/proximal_point.py
Labels: documentation

#62 Features/continuous-time examples + update of the documentation.
  PEPit/examples/continuous_time_models/__init__.py
  PEPit/examples/continuous_time_models/accelerated_gradient_flow_convex.py
  PEPit/examples/continuous_time_models/accelerated_gradient_flow_strongly_convex.py
  PEPit/examples/continuous_time_models/gradient_flow_convex.py
  PEPit/examples/continuous_time_models/gradient_flow_strongly_convex.py
  docs/source/examples.rst
  docs/source/examples/k.rst
  docs/source/examples/l.rst
  tests/test_examples.py
Labels: examples

#63 Features/cd
  PEPit/examples/stochastic_convex_minimization/__init__.py
  PEPit/examples/stochastic_convex_minimization/randomized_coordinate_descent_smooth_convex.py
  PEPit/examples/stochastic_convex_minimization/randomized_coordinate_descent_smooth_strongly_convex.py
  docs/source/examples/d.rst
  tests/test_examples.py
Labels: examples

#66 Feature/alternateprojections
  PEPit/examples/composite_convex_minimization/__init__.py
  PEPit/examples/composite_convex_minimization/accelerated_douglas_rachford_splitting.py
  PEPit/examples/composite_convex_minimization/proximal_gradient.py
  PEPit/examples/low_dimensional_worst_cases_scenarios/__init__.py
  PEPit/examples/low_dimensional_worst_cases_scenarios/alternate_projections.py
  PEPit/examples/low_dimensional_worst_cases_scenarios/averaged_projections.py
  PEPit/examples/low_dimensional_worst_cases_scenarios/dykstra.py
  PEPit/examples/monotone_inclusions/__init__.py
  docs/source/examples/j.rst
  tests/additional_complexified_examples_tests/__init__.py
  tests/test_examples.py
Labels: documentation, examples

#68 Feature/epsilon subgradient
  PEPit/examples/unconstrained_convex_minimization/__init__.py
  PEPit/examples/unconstrained_convex_minimization/epsilon_subgradient_method.py
  PEPit/examples/unconstrained_convex_minimization/subgradient_method.py
  PEPit/primitive_steps/__init__.py
  PEPit/primitive_steps/epsilon_subgradient_step.py
  docs/source/api/steps.rst
  docs/source/examples/a.rst
  tests/test_examples.py
Labels: documentation, examples

#71 Feature/ci
  .github/workflows/tests.yaml
Labels: enhancement

#69 Feature/variational inequalities
  PEPit/examples/__init__.py
  PEPit/examples/monotone_inclusions_variational_inequalities/__init__.py
  PEPit/examples/monotone_inclusions_variational_inequalities/accelerated_proximal_point.py
  PEPit/examples/monotone_inclusions_variational_inequalities/douglas_rachford_splitting.py
  PEPit/examples/monotone_inclusions_variational_inequalities/optimal_strongly_monotone_proximal_point.py
  PEPit/examples/monotone_inclusions_variational_inequalities/optimistic_gradient.py
  PEPit/examples/monotone_inclusions_variational_inequalities/past_extragradient.py
  PEPit/examples/monotone_inclusions_variational_inequalities/proximal_point.py
  PEPit/examples/monotone_inclusions_variational_inequalities/three_operator_splitting.py
  docs/source/examples/e.rst
  tests/test_examples.py
Labels: documentation, examples
